<%@answers= @question.answers %>
<% @answers.each do |a| %>
    <% interaction= @student_answers.where("learning_object_id = ?", @question.id).first.interaction.to_s%>
    <label style="background-color: <%= a.is_correct ? "aquamarine" : "lightcoral" %>"><input type="radio" name="answer<%= a.id%>" <%= interaction.eql?("#{a.id }") ? "checked=true":"" %> disabled= "true" class="answer-output">
      <i class="icon-radio answer-icon"></i>
      <div class="answer-text"><%= a.answer_text %></div></label>
<% end %>