<%@answers= @question.answers %>
<% @answers.each do |a| %>
    <label><input type="radio" name="answer[<%= @question.id%>]" value="<%= a.id %>" class="answer-input">
      <i class="icon-radio answer-icon"></i>
      <div class="answer-text"><%= a.answer_text %></div></label>
<% end %>