<nav class="question-nav not-zoomable">
  <%= render 'shared/user_element' %>
  <div class="mobile-content">
    <h2>Test</h2>
    <a class="user-element-cta"><i class="nav-right-icons icon-user"></i></a>
  </div>
</nav>
