// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exercise-general {
  font-size: 1.5rem;
  text-align: center;

}

@mixin code-input {
  @include center-block;
  height: 2rem;
  border: 3px solid $white;
  @include border-radius(19px);
  padding: 0 1em;
}

.code-text {
  @include code-input;
  width: 70%;
  color: $white;
  max-width: 300px;
  text-align: center;
  background-color: $dark;
}

#code-submit {
  @include color-transition;
  @include white-dark;
  @include big-top-margin;
  @include login-input;

  box-sizing: content-box;
  width: 125px;



  &:hover {
    @include red-dark;
    border-color: $red;
  }
}