@font-face {
  font-family: 'alef-iconset';
  src: font-url('alef-iconset.eot');
  src: font-url('alef-iconset.eot#iefix') format('embedded-opentype'),
       font-url('alef-iconset.woff') format('woff'),
       font-url('alef-iconset.ttf') format('truetype'),
       font-url('alef-iconset.svg#alef-iconset') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'alef-iconset';
    src: url('../font/alef-iconset.svg?24316369#alef-iconset') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "alef-iconset";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-left:before { content: '\e800'; } /* '' */
.icon-right:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-seen:before { content: '\e803'; } /* '' */
.icon-done:before { content: '\e804'; } /* '' */
.icon-new:before { content: '\e805'; } /* '' */
.icon-radio-checked:before { content: '\e806'; } /* '' */
.icon-help:before { content: '\e807'; } /* '' */
.icon-radio:before { content: '\e808'; } /* '' */
.icon-checkbox-checked:before { content: '\e809'; } /* '' */
.icon-level-up:before { content: '\e80a'; } /* '' */
.icon-checkbox:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-logout:before { content: '\e80d'; } /* '' */
.icon-delete:before { content: '\e80e'; } /* '' */
.icon-mail:before { content: '\e80f'; } /* '' */
.icon-admin:before { content: '\e810'; } /* '' */
.icon-edit:before { content: '\e811'; } /* '' */
.icon-sliders:before { content: '\e812'; } /* '' */
.icon-add:before { content: '\e813'; } /* '' */
.icon-thumbs-up:before { content: '\e814'; } /* '' */
.icon-thumbs-down:before { content: '\e815'; } /* '' */
.icon-menu:before { content: '\e816'; } /* '' */
.icon-graduation-cap:before { content: '\e817'; } /* '' */
.icon-chart-bar:before { content: '\e818'; } /* '' */
.icon-camera:before { content: '\e819'; } /* '' */