<nav class="without-icons not-zoomable">
  <%= render 'shared/user_element' %>
  <div class="mobile-content">
    <h2><%= @setup.name %> - výsledky testu</h2>
    <a href="<%=url_for exercise_path params[:id] %>"><i class="nav-right-icons icon-level-up"></i></a>
    <a class="user-element-cta"><i class="nav-right-icons icon-menu"></i></a>
  </div>
</nav>
<hr class="nav-offset not-zoomable">
<div class="question-name not-zoomable">
  <div class="mobile-content">
  </div>
</div>
<br>
<div class="exercise-general">
  <div class="my-mobile-content main">
     <%= render 'attendance' %>
    <br>
  </div>
</div>