<%= render 'nav' %>
<hr class="nav-offset not-zoomable">
<div class="question-name not-zoomable">
  <div class="mobile-content">
  </div>
</div>
<br>
<div class="exercise-general">
  <div class="my-mobile-content main">
     <%= render 'attendance' %>
    <br>
  </div>
</div>